@import "normalise";
@import "colors";
@import "typography";
@import "modals";
@import "buttons";
body {
    background: $white;
}

// ---- Nav Bar ---- /
header {
    width: 100%;
    position: fixed;
    display: table;
    top: 0;
    z-index: 2;
    background-color: black;
    text-align: center;
}

nav {
    padding: 8px;
    display: table-cell;
    vertical-align: middle;
    z-index: 100;
}

.logo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

main {
    height: 100vh;
    width: 100vw;
    display: table;
}

section {
    padding-bottom: 20px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

#game-area {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center-panel {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    border: 12px solid $black;
    background-image: url('../images/silver.jpg');
    background-position: no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo-panel {
    background: $black;
    height: 128px;
    width: 256px;
    border: 2px solid $silver;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

// ---- Footer ---- //
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    display: table;
    text-align: center;
    position: fixed;
    background: black;
}

.built {
    color: white;
    display: table-cell;
    vertical-align: middle;
}

// ---- Footer Styles ---- //
footer p {
    font-size: 1em;
}

.built a,
strong {
    font-weight: 500;
    &:hover {
        text-decoration: underline
    }
}

.fa-heart {
    font-size: 12px;
    color: #fc2d23;
}

.fa-free-code-camp {
    padding: 0 5px 0 0;
    color: white;
}

@import "media-queries";